:root {
  --light-colour: #f2f9f1;
  --dark-colour: #5c715e;
  --primary-colour: #b6cdbd;
  --secondary-colour: #ddeedf;
  --font-family: "Jost", sans-serif;
}
body {
  background-color: var(--light-colour);
}
header {
  font-size: 64px;
  font-family: var(--font-family);
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
}
footer {
  color: var(--primary-colour);
  font-size: 20px;
  font-family: var(--font-family);
  text-align: center;
  margin: 30px;
}
footer a {
  color: var(--primary-colour);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
footer a:hover {
  color: var(--secondary-colour);
}
