:root {
  --background-colour: #ffff;
  --text-colour: #042a75;
  --primary-colour: #26a2cc;
  --secondary-colour: #fd6050;
  --primary-font: "Jost", sans-serif;
  --secondary-font: "IBM Plex Mono", monospace;
}
body {
  background-color: var(--background-colour);
  font-family: var(--primary-font);
}
header {
  color: var(--text-colour);
  font-size: 64px;
  font-family: var(--primary-font);
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
img {
  margin-left: 20px;
  max-width: 100px;
}
footer {
  color: var(--secondary-colour);
  font-size: 16px;
  font-family: var(--secondary-font);
  text-align: center;
  padding: 20px;
  margin: 30px;
  border-top: 2px solid #042a75;
}
footer a {
  color: var(--secondary-colour);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
footer a:hover {
  color: var(--primary-colour);
}
