:root {
  --background-colour: #f49ac0;
  --section-colour: #faf9d8;
  --text-colour: #212121;
  --primary-colour: #f25424;
  --secondary-colour: #f16943;
  --accent-colour: #757575;
  --primary-font: "Jost", sans-serif;
  --secondary-font: "IBM Plex Mono", monospace;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
body {
  background-color: #f698c2;
  font-family: var(--primary-font);
}
header {
  color: var(--section-colour);
  text-shadow: 4px 4px var(--secondary-colour);
  font-size: 90px;
  font-family: var(--primary-font);
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
  margin: 20px 100px;
  border-radius: 8px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
img {
  margin-left: 20px;
  max-width: 100px;
}
footer {
  color: var(--section-colour);
  font-size: 16px;
  font-family: var(--secondary-font);
  text-align: center;
  padding: 20px;
  margin: 20px;
  margin-top: 40px;
  border-top: 2px solid var(--secondary-colour);
}
footer a {
  color: var(--section-colour);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
footer a:hover {
  color: var(--text-colour);
}
@media (max-width: 960px) {
  header {
    font-size: 60px;
  }
}
@media (max-width: 390px) {
  header {
    font-size: 20px;
  }
  img {
    max-width: 20px;
    margin-left: 10px;
  }
}
