.Dictionary {
  background-color: #d2dcfd;
  color: var(--text-colour);
}
.Dictionary section {
  background-color: #ffff;
  padding: 20px;
  margin: 20px 100px;
  border-radius: 6px;
}
.Search-bar {
  color: #ffff;
  display: flex;
  flex-direction: column;
  margin: 10px 100px;
}
.Dictionary input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 6px;
  color: var(--primary-colour);
  background-color: #ffff;
  border: 2px solid var(--primary-colour);
}
.Dictionary .Suggestion {
  color: var(--primary-colour);
  font-family: var(--secondary-font);
  margin-top: 10px;
  line-height: 1.5;
}
.Example {
  color: var(--secondary-colour);
  line-height: 2;
}
.Definition {
  font-size: 21px;
  line-height: 1.5;
}
