.Dictionary {
  background-color: var(--background-colour);
  color: var(--text-colour);
}
input {
  border: 1px solid #b6cdbd;
}
h1 {
  font-size: 48px;
  font-family: var(--secondary-font);
}
h2 {
  color: #e85e66;
}
h3 {
  color: var(--primary-colour);
  font-family: var(--secondary-font);
  font-weight: 300;
}
.Definition {
  font-size: 20px;
}
