.Results h1 {
  color: var(--colour-tertiary);
  font-size: 64px;
  text-align: center;
}
.Meaning h3 {
  color: var(--colour-secondary);
  font-size: 30px;
  font-family: var(--font-secondary);
  line-height: 1.5;
}
.Phonetic {
  color: #c3a2cd;
  font-family: var(--font-secondary);
  text-align: center;
}
.Example {
  color: var(--colour-primary);
}

@media (max-width: 768px) {
  .Results h1 {
    font-size: 36px;
  }
  .Meaning h3 {
    font-size: 20px;
    line-height: 1.6;
  }
}
@media (max-width: 480px) {
  .Results h1 {
    font-size: 36px;
  }
  .Meaning h3 {
    font-size: 18px;
  }
}
