.Results h1 {
  color: var(--colour-tertiary);
  font-size: 48px;
}
.Meaning h3 {
  color: var(--colour-secondary);
  font-size: 36px;
  font-family: var(--font-secondary);
  line-height: 2;
}
.Phonetic {
  color: var(--colour-primary);
}
.Example {
  color: #c3a2cd;
}
